@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or index.css */
body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Playfair Display', serif;
}
